@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_Autocomplete", "Search Serial Number of Product")



<link href="~/css/stylesheet.css" rel="stylesheet" />
<link href="~/css/autocomplete.css" rel="stylesheet" />

@* <partial name="_Autocomplete" /> *@

<br />
<br />
<br />

<h1 class="attractive-heading">All Serial Number of Products in the Stock</h1>

<div style="display: flex;
    justify-content: flex-end;">
    <button class="btn btn-sm btn-primary m-2" id="btnAddSerialNumber">
        Add Serail Number of Product
    </button>
</div>
<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Serial Number ID</th>
            <th>Product ID</th>
            <th>Serialno</th>
            <th>Stock</th>
            <th>Order ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center" id="table_data"></tbody>
</table>

<div class="modal fade modal" id="SerialNumberModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info modal-title">Add Serial Number</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label>Product ID</label>
                        <select asp-items="@(ViewBag.Product)" id="PId"></select>
                    </div>
                    <div class="mb-3">
                        <label>Serial no</label>
                        <input type="text" placeholder="Enter serial no" class="form-control" id="Serialno" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="AddSerialNumber();" id="AddSerialNumber">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal" id="EditSerialNumberModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info modal-title">Edit Serial Number Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label>Serial Number ID</label>
                        <input type="number" class="form-control" id="SerialNumberId" disabled="disabled" />
                    </div>
                    <div class="mb-3">
                        <label>Product ID</label>
                        <select asp-items="@(ViewBag.Product)" id="PId"></select>
                    </div>
                    <div class="mb-3">
                        <label>Serial no</label>
                        <input type="text" placeholder="Enter serial no" class="form-control" id="ESerialno" />
                    </div>
                    <div class="mb-3">
                        <label>Stock</label>
                        <input type="text" class="form-control" id="stock" value="Y" readonly>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" onclick="UpdateSerialNumber();" style="display:none" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/autocomplete.js"></script>
<script src="~/js/serialnumber.js"></script>
<script src="~/js/sweetalert.min.js"></script>



